[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-mysqldb = "*"
flask-wtf = "*"
flask-bootstrap = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.13"
